# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
*.env

# Output files
resultados/
*.png
*.xlsx
